In [1]:
#!pip install selenium
#!pip install geonamescache
from helper import *
import selenium
import tweepy
import numpy as np
import pandas as pd
import json
from bs4 import BeautifulSoup
from IPython.display import clear_output #clears output
import datetime
import time

API_Key ='irXxqVrXin1KsDRM9g6HdF8p8'
API_Key_Secret = 'sLQvb8voyrTDz5S93vlt5jE5RlMi8xBuOQtSq2pgERe2QVawIC'

Bearer_Token = 'AAAAAAAAAAAAAAAAAAAAACsVlAEAAAAADib49u9Asa6Hbts8UwBEdtc0dsk%3D1d8lVaySeRg1CpJQ6HDLSwK6Mj9wJiptj49PAdwMuvW95zJoar'

Access_Token = '1122492746210660352-COptyz3RtF1AVokHw3027iOdbsZZl1'
Access_Token_Secret = 'slfBz8pcgCrUmewZgSgVKsmIFhfCcFuinAx16q5eh1Vvr'

In [2]:
# authorization of consumer key and consumer secret
auth = tweepy.OAuthHandler(API_Key, API_Key_Secret)
# set access to user's access key and access secret
auth.set_access_token(Access_Token, Access_Token_Secret)
# calling the api
api = tweepy.API(auth)
Client = tweepy.Client(bearer_token=Bearer_Token) 

'''
links = []
for i in range(0,df.shape[0]):
    links.append('https://twitter.com/{}/status/{}'.format(df.iloc[i,0],df.iloc[i,df.shape[1]-1]))
    
links
len(links)
'''

"\nlinks = []\nfor i in range(0,df.shape[0]):\n    links.append('https://twitter.com/{}/status/{}'.format(df.iloc[i,0],df.iloc[i,df.shape[1]-1]))\n    \nlinks\nlen(links)\n"

In [3]:
currentI = 2 # saves us the hussle of changing the number

df = pd.read_csv('data{}.csv'.format(currentI))
del df['Unnamed: 0']
df

,name,age,city,country,gender,acount age,total tweets,followers,following,respectability,...,word count,is quote,hashtags,hashtag count,trending,using trends?,metaData,join_date,date,tweet id
0,gtwillikers,NaN,South Carolina,United States,NaN,10.0,29462,2651,2068,0.780083,...,26,True,NaN,0,"['Friday the 13th', '#Jackpocket', '#XboxFreeC...",False,--------,2014-01-12,2023-01-14,1614066426536497152
1,PureRockFury,NaN,Orland Park,United States,NaN,15.3,5920,3232,4451,1.377166,...,24,False,"['rpg', 'gaming', 'talismanadventuresrpg']",3,"['Friday the 13th', '#Jackpocket', '#XboxFreeC...",False,--------,2008-11-04,2023-01-14,1614066426075045891
2,JillCox_Teacher,NaN,Christopher,United States,NaN,8.3,3954,484,682,1.409091,...,6,False,NaN,0,"['Friday the 13th', '#Jackpocket', '#XboxFreeC...",False,--------,2015-09-04,2023-01-14,1614066425722707969
3,radioprogramme,NaN,Watertown,United States,NaN,15.6,1487,93,58,0.623656,...,9,False,NaN,0,"['Friday the 13th', '#Jackpocket', '#XboxFreeC...",False,--------,2009-10-19,2023-01-14,1614066424145657859
4,dmbretzer,NaN,Palos Heights,United States,NaN,15.2,1520,40,129,3.225000,...,20,False,NaN,0,"['Friday the 13th', '#Jackpocket', '#XboxFreeC...",False,--------,2009-03-14,2023-01-14,1614066422379839490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,everylotakl,NaN,Auckland,New Zealand,NaN,4.3,37232,802,55,0.068579,...,5,False,NaN,0,"['Luka', 'Lisa Marie Presley', 'Wellington', '...",False,--------,2020-01-16,2023-01-11,1613219252953288705
9996,porangi69,NaN,Whakatane District,New Zealand,NaN,12.3,14957,1626,2615,1.608241,...,20,False,NaN,0,"['Luka', 'Lisa Marie Presley', 'Wellington', '...",False,--------,2013-01-28,2023-01-11,1613217753867128833
9997,DaisyG40,NaN,Auckland,New Zealand,NaN,7.4,32877,670,361,0.538806,...,7,False,"['GinoRoque', 'KiaraTakahashi', 'KiaNo']",3,"['Luka', 'Lisa Marie Presley', 'Wellington', '...",False,--------,2018-09-29,2023-01-11,1613216529621094400
9998,Nzgrim,NaN,Porirua City,New Zealand,NaN,16.1,98047,3000,3365,1.121667,...,1,False,NaN,0,"['Luka', 'Lisa Marie Presley', 'Wellington', '...",False,--------,2009-06-25,2023-01-11,1613212876730425345
9999,Nzgrim,NaN,Porirua City,New Zealand,NaN,16.1,98047,3000,3365,1.121667,...,1,False,NaN,0,"['Luka', 'Lisa Marie Presley', 'Wellington', '...",False,--------,2009-06-25,2023-01-11,1613212840403546114

In [4]:
#x = api.get_status(1614298691786969089,tweet_mode="extended",include_entities = 'tweet.fields')
#x = Client.get_tweet(id = 1614298691786969089,tweet_fields=["public_metrics"])

In [5]:
# creates a list of all the ids in string form
tmp = [t for t in df['tweet id']]

for i in range(0,len(tmp)):
    tmp[i] = str(tmp[i])
tmp
len(tmp)

10000

In [6]:
# speperates them into groups of 100's so that it's easier to put them in the search function

all_ids = []
i = 0

while i < len(tmp):
    all_ids.append(tmp[i:i+100])
    i+=100

In [7]:
'''
while i < len(tmp):
    tweets.append(Client.get_tweets(ids = tmp[i:i+100],tweet_fields=["public_metrics"]))
    i+=100

tmp = []
for x in tweets:
    for y in x:
        for z in y:
            tmp.append(z)
'''#accidentally creates a 3D cube so it then sorts it into a 1D arr


#gets the tweets by id
tweetsArr = []

for i in all_ids:
    tweetsArr.append(Client.get_tweets(ids = i,tweet_fields=["public_metrics"]))

In [8]:
#fixes uncomfortable array placements
tweets = []
for x in tweetsArr:
    tweets.extend(x)

In [9]:
errors = tweets[2::4]#get a list of all the tweets which returned error
tweets = tweets[0::4]#gets the actual tweets

In [10]:
#fixes bad placements again
tmp = []
for i in tweets:
    tmp.extend(i)

tweets = tmp

In [11]:
name = []
age = []
city = []
country = []
gender = []
acount_age = []
total_tweets = []
followers = []
following = []
respectability = []
verified = []
tweet = []
likes = []
comments = []
retweets = []
Qretweets = []
word_count = []
is_quote = []
hashtags = []
hashtag_count = []
trending = []
using_trends = []
links = []
views = []

In [12]:
for t in tweets:
    ID = t['id']
    row = df[df['tweet id'] == ID]
    
    name.append(row['name'].values[0])
    age.append(row['age'].values[0])
    city.append(row['city'].values[0])
    country.append(row['country'].values[0])
    gender.append(row['gender'].values[0])
    acount_age.append(row['acount age'].values[0])
    total_tweets.append(row['total tweets'].values[0])
    followers.append(row['followers'].values[0])
    following.append(row['following'].values[0])
    respectability.append(row['respectability'].values[0])
    verified.append(row['verified'].values[0])
    tweet.append(row['tweet'].values[0])
    word_count.append(row['word count'].values[0])
    is_quote.append(row['is quote'].values[0])
    hashtags.append(row['hashtags'].values[0])
    hashtag_count.append(row['hashtag count'].values[0])
    trending.append(row['trending'].values[0])
    using_trends.append(row['using trends?'].values[0])
    links.append('https://www.twitter.com/'+row['name'].values[0]+'/status/'+str(ID))
    
    likes.append(t['public_metrics']['like_count'])
    views.append(t['public_metrics']['impression_count'])
    retweets.append(t['public_metrics']['retweet_count'] + t['public_metrics']['quote_count'])
    Qretweets.append(t['public_metrics']['quote_count'])
    comments.append(t['public_metrics']['reply_count'])

In [13]:
max_len = len(using_trends)

In [14]:


dic = {'name':name[:max_len],
       'age':age[:max_len],
       'city':city[:max_len],
       'country':country[:max_len],
       'gender':gender[:max_len],
       'acount age':acount_age[:max_len],
       'total tweets':total_tweets[:max_len],
       'followers':followers[:max_len],
       'following':following[:max_len],
       'respectability':respectability[:max_len],
       'verified':verified[:max_len],
       'text':tweet[:max_len],
       'views':views[:max_len],
       'likes':likes[:max_len],
       'retweets':retweets[:max_len],
       'quote retweets':Qretweets[:max_len],
       'comments':comments[:max_len],
       'word count':word_count[:max_len],
       'is quote':is_quote[:max_len],
       'hashtags':hashtags[:max_len],
       'hashtag count':hashtag_count[:max_len],
       'trending':trending[:max_len],
       'using trends?':using_trends[:max_len],
       'link to tweet':links[:max_len]
      }

new_df = pd.DataFrame(dic)

In [15]:
new_df

,name,age,city,country,gender,acount age,total tweets,followers,following,respectability,...,retweets,quote retweets,comments,word count,is quote,hashtags,hashtag count,trending,using trends?,link to tweet
0,gtwillikers,NaN,South Carolina,United States,NaN,10.0,29462,2651,2068,0.780083,...,2,0,3,26,True,NaN,0,"['Friday the 13th', '#Jackpocket', '#XboxFreeC...",False,https://www.twitter.com/gtwillikers/status/161...
1,PureRockFury,NaN,Orland Park,United States,NaN,15.3,5920,3232,4451,1.377166,...,0,0,0,24,False,"['rpg', 'gaming', 'talismanadventuresrpg']",3,"['Friday the 13th', '#Jackpocket', '#XboxFreeC...",False,https://www.twitter.com/PureRockFury/status/16...
2,JillCox_Teacher,NaN,Christopher,United States,NaN,8.3,3954,484,682,1.409091,...,0,0,2,6,False,NaN,0,"['Friday the 13th', '#Jackpocket', '#XboxFreeC...",False,https://www.twitter.com/JillCox_Teacher/status...
3,radioprogramme,NaN,Watertown,United States,NaN,15.6,1487,93,58,0.623656,...,0,0,0,9,False,NaN,0,"['Friday the 13th', '#Jackpocket', '#XboxFreeC...",False,https://www.twitter.com/radioprogramme/status/...
4,dmbretzer,NaN,Palos Heights,United States,NaN,15.2,1520,40,129,3.225000,...,0,0,0,20,False,NaN,0,"['Friday the 13th', '#Jackpocket', '#XboxFreeC...",False,https://www.twitter.com/dmbretzer/status/16140...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9478,everylotakl,NaN,Auckland,New Zealand,NaN,4.3,37232,802,55,0.068579,...,0,0,0,5,False,NaN,0,"['Luka', 'Lisa Marie Presley', 'Wellington', '...",False,https://www.twitter.com/everylotakl/status/161...
9479,porangi69,NaN,Whakatane District,New Zealand,NaN,12.3,14957,1626,2615,1.608241,...,0,0,1,20,False,NaN,0,"['Luka', 'Lisa Marie Presley', 'Wellington', '...",False,https://www.twitter.com/porangi69/status/16132...
9480,DaisyG40,NaN,Auckland,New Zealand,NaN,7.4,32877,670,361,0.538806,...,0,0,0,7,False,"['GinoRoque', 'KiaraTakahashi', 'KiaNo']",3,"['Luka', 'Lisa Marie Presley', 'Wellington', '...",False,https://www.twitter.com/DaisyG40/status/161321...
9481,Nzgrim,NaN,Porirua City,New Zealand,NaN,16.1,98047,3000,3365,1.121667,...,0,0,0,1,False,NaN,0,"['Luka', 'Lisa Marie Presley', 'Wellington', '...",False,https://www.twitter.com/Nzgrim/status/16132128...
9482,Nzgrim,NaN,Porirua City,New Zealand,NaN,16.1,98047,3000,3365,1.121667,...,0,0,0,1,False,NaN,0,"['Luka', 'Lisa Marie Presley', 'Wellington', '...",False,https://www.twitter.com/Nzgrim/status/16132128...

In [16]:
new_df.to_csv('out{}.csv'.format(currentI))