In [51]:
#!pip install selenium
#!pip install geonamescache
from helper import *
import selenium
import tweepy
import numpy as np
import pandas as pd
import json
from bs4 import BeautifulSoup
from IPython.display import clear_output #clears output
import datetime
import time

API_Key ='irXxqVrXin1KsDRM9g6HdF8p8'
API_Key_Secret = 'sLQvb8voyrTDz5S93vlt5jE5RlMi8xBuOQtSq2pgERe2QVawIC'

Bearer_Token = 'AAAAAAAAAAAAAAAAAAAAACsVlAEAAAAADib49u9Asa6Hbts8UwBEdtc0dsk%3D1d8lVaySeRg1CpJQ6HDLSwK6Mj9wJiptj49PAdwMuvW95zJoar'

Access_Token = '1122492746210660352-COptyz3RtF1AVokHw3027iOdbsZZl1'
Access_Token_Secret = 'slfBz8pcgCrUmewZgSgVKsmIFhfCcFuinAx16q5eh1Vvr'

In [52]:
# authorization of consumer key and consumer secret
auth = tweepy.OAuthHandler(API_Key, API_Key_Secret)
# set access to user's access key and access secret
auth.set_access_token(Access_Token, Access_Token_Secret)
# calling the api
api = tweepy.API(auth)
Client = tweepy.Client(bearer_token=Bearer_Token) 

'''
links = []
for i in range(0,df.shape[0]):
    links.append('https://twitter.com/{}/status/{}'.format(df.iloc[i,0],df.iloc[i,df.shape[1]-1]))
    
links
len(links)
'''

"\nlinks = []\nfor i in range(0,df.shape[0]):\n    links.append('https://twitter.com/{}/status/{}'.format(df.iloc[i,0],df.iloc[i,df.shape[1]-1]))\n    \nlinks\nlen(links)\n"

In [53]:
df = pd.read_csv('data.csv')
del df['Unnamed: 0']
df

,name,age,city,country,gender,acount age,total tweets,followers,following,respectability,...,word count,is quote,hashtags,hashtag count,trending,using trends?,metaData,join_date,date,tweet id
0,CamuyArenas_AA,NaN,Puente,United States,NaN,3.2,228,50,22,0.440000,...,11,False,NaN,0,"['Friday the 13th', 'Staley', 'Lori Harvey', '...",False,--------,2022-02-27,2023-01-13,1613988536075665408
1,16p11dot2ds,NaN,Georgia,United States,NaN,4.9,32312,33,481,14.575758,...,8,True,NaN,0,"['Friday the 13th', 'Staley', 'Lori Harvey', '...",False,--------,2020-12-23,2023-01-13,1613988535329071105
2,PoopScoopSF,NaN,Downtown,United States,NaN,4.7,163626,415,125,0.301205,...,10,False,NaN,0,"['Friday the 13th', 'Staley', 'Lori Harvey', '...",False,--------,2019-03-08,2023-01-13,1613988533936721921
3,wchazz,NaN,Wesley Chapel,United States,NaN,15.4,48876,377,951,2.522546,...,10,False,NaN,0,"['Friday the 13th', 'Staley', 'Lori Harvey', '...",False,--------,2009-02-17,2023-01-13,1613988533345128476
4,wyatthebson,NaN,Pier 17,United States,NaN,16.8,24061,1366,4999,3.659590,...,11,False,NaN,0,"['Friday the 13th', 'Staley', 'Lori Harvey', '...",False,--------,2008-12-22,2023-01-13,1613988532523257857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Ragini2011,NaN,Auckland,New Zealand,NaN,15.1,8508,882,265,0.300454,...,47,False,['yrkkh'],1,"['Luka', 'Friday the 13th', 'Lisa Marie Presle...",False,--------,2010-11-25,2023-01-11,1613066614832009218
9996,EmpathicCreator,NaN,Christchurch City,New Zealand,NaN,2.2,2254,49,143,2.918367,...,11,False,NaN,0,"['Luka', 'Friday the 13th', 'Lisa Marie Presle...",False,--------,2022-10-14,2023-01-11,1613066514567168006
9997,bringpatbeer,NaN,Auckland,New Zealand,NaN,14.2,26809,200,728,3.640000,...,10,False,NaN,0,"['Luka', 'Friday the 13th', 'Lisa Marie Presle...",False,--------,2009-06-02,2023-01-11,1613066423261085696
9998,Kulaea1,NaN,Auckland,New Zealand,NaN,6.2,1582,289,236,0.816609,...,30,False,NaN,0,"['Luka', 'Friday the 13th', 'Lisa Marie Presle...",False,--------,2018-06-14,2023-01-11,1613065923048656896
9999,ChiaraG__,NaN,Auckland,New Zealand,NaN,6.3,1532,644,871,1.352484,...,40,False,"['amgevita', 'evaluation']",2,"['Luka', 'Friday the 13th', 'Lisa Marie Presle...",False,--------,2017-07-04,2023-01-11,1613065746619465729

In [54]:
#x = api.get_status(1614298691786969089,tweet_mode="extended",include_entities = 'tweet.fields')
#x = Client.get_tweet(id = 1614298691786969089,tweet_fields=["public_metrics"])

In [55]:
# creates a list of all the ids in string form
tmp = [t for t in df['tweet id']]

for i in range(0,len(tmp)):
    tmp[i] = str(tmp[i])
tmp
len(tmp)

10000

In [56]:
# speperates them into groups of 100's so that it's easier to put them in the search function

all_ids = []
i = 0

while i < len(tmp):
    all_ids.append(tmp[i:i+100])
    i+=100

In [57]:
'''
while i < len(tmp):
    tweets.append(Client.get_tweets(ids = tmp[i:i+100],tweet_fields=["public_metrics"]))
    i+=100

tmp = []
for x in tweets:
    for y in x:
        for z in y:
            tmp.append(z)
'''#accidentally creates a 3D cube so it then sorts it into a 1D arr


#gets the tweets by id
tweetsArr = []

for i in all_ids:
    tweetsArr.append(Client.get_tweets(ids = i,tweet_fields=["public_metrics"]))

In [58]:
#fixes uncomfortable array placements
tweets = []
for x in tweetsArr:
    tweets.extend(x)

In [59]:
errors = tweets[2::4]#get a list of all the tweets which returned error
tweets = tweets[0::4]#gets the actual tweets

In [60]:
#fixes bad placements again
tmp = []
for i in tweets:
    tmp.extend(i)

tweets = tmp

In [106]:
name = []
age = []
city = []
country = []
gender = []
acount_age = []
total_tweets = []
followers = []
following = []
respectability = []
verified = []
tweet = []
likes = []
comments = []
retweets = []
Qretweets = []
word_count = []
is_quote = []
hashtags = []
hashtag_count = []
trending = []
using_trends = []

In [107]:
row = df[df['tweet id'] == 1613988536075665408]
row['name'][0]

'CamuyArenas_AA'

In [110]:
for t in tweets:
    ID = t['id']
    row = df[df['tweet id'] == ID]
    
    name.append(row['name'][0])
    age.append(row['age'][0])
    city.append(row['city'][0])
    country.append(row['country'][0])
    gender.append(row['gender'][0])
    acount_age.append(row['acount age'][0])
    total_tweets.append(row['total tweets'][0])
    followers.append(row['followers'][0])
    following.append(row['following'][0])
    respectability.append(row['respectability'][0])
    verified.append(row['verified'][0])
    tweet.append(row['tweet'][0])
    word_count.append(row['word count'][0])
    is_quote.append(row['is quote'][0])
    hashtags.append(row['hashtags'][0])
    hashtag_count.append(row['hashtag count'][0])
    trending.append(row['trending'][0])
    using_trends.append(row['using trends?'][0])
    
    likes.append(t['public_metrics']['like_count'])
    retweets.append(t['public_metrics']['retweet_count'] + t['public_metrics']['quote_count'])
    Qretweets.append(t['public_metrics']['quote_count'])
    comments.append(t['public_metrics']['reply_count'])

KeyError: 0

In [86]:
max_len = len(using_trends)

In [90]:


dic = {'name':name[:max_len],
       'age':age[:max_len],
       'city':city[:max_len],
       'country':country[:max_len],
       'gender':gender[:max_len],
       'acount age':acount_age[:max_len],
       'total tweets':total_tweets[:max_len],
       'followers':followers[:max_len],
       'following':following[:max_len],
       'respectability':respectability[:max_len],
       'verified':verified[:max_len],
       'tweet':tweet[:max_len],
       'likes':likes[:max_len],
       'retweets':retweets[:max_len],
       'quote retweets':Qretweets[:max_len],
       'word count':word_count[:max_len],
       'is quote':is_quote[:max_len],
       'hashtags':hashtags[:max_len],
       'hashtag count':hashtag_count[:max_len],
       'trending':trending[:max_len],
       'using trends?':using_trends[:max_len]
      }

new_df = pd.DataFrame(dic)

In [91]:
new_df

,name,age,city,country,gender,acount age,total tweets,followers,following,respectability,...,tweet,likes,retweets,quote retweets,word count,is quote,hashtags,hashtag count,trending,using trends?
0,"0 CamuyArenas_AA Name: name, dtype: object","0 NaN Name: age, dtype: float64","0 Puente Name: city, dtype: object","0 United States Name: country, dtype: object","0 NaN Name: gender, dtype: float64","0 3.2 Name: acount age, dtype: float64","0 228 Name: total tweets, dtype: int64","0 50 Name: followers, dtype: int64","0 22 Name: following, dtype: int64","0 0.44 Name: respectability, dtype: float64",...,0 Just posted a photo @ Estadio Juan F.Cheo...,0,0,0,"0 11 Name: word count, dtype: int64","0 False Name: is quote, dtype: bool","0 NaN Name: hashtags, dtype: object","0 0 Name: hashtag count, dtype: int64","0 ['Friday the 13th', 'Staley', 'Lori Harve...","0 False Name: using trends?, dtype: bool"
1,"0 CamuyArenas_AA Name: name, dtype: object","0 NaN Name: age, dtype: float64","0 Puente Name: city, dtype: object","0 United States Name: country, dtype: object","0 NaN Name: gender, dtype: float64","0 3.2 Name: acount age, dtype: float64","1 32312 Name: total tweets, dtype: int64","1 33 Name: followers, dtype: int64","1 481 Name: following, dtype: int64","1 14.575758 Name: respectability, dtype: fl...",...,1 This is a prep free zone. https://t.co/2q...,1,0,0,"1 8 Name: word count, dtype: int64","1 True Name: is quote, dtype: bool","1 NaN Name: hashtags, dtype: object","1 0 Name: hashtag count, dtype: int64","1 ['Friday the 13th', 'Staley', 'Lori Harve...","1 False Name: using trends?, dtype: bool"
2,"1 16p11dot2ds Name: name, dtype: object","1 NaN Name: age, dtype: float64","1 Georgia Name: city, dtype: object","1 United States Name: country, dtype: object","1 NaN Name: gender, dtype: float64","1 4.9 Name: acount age, dtype: float64","2 163626 Name: total tweets, dtype: int64","2 415 Name: followers, dtype: int64","2 125 Name: following, dtype: int64","2 0.301205 Name: respectability, dtype: flo...",...,"2 ""Big poop front of our door."" (Downtown, ...",0,0,0,"2 10 Name: word count, dtype: int64","2 False Name: is quote, dtype: bool","2 NaN Name: hashtags, dtype: object","2 0 Name: hashtag count, dtype: int64","2 ['Friday the 13th', 'Staley', 'Lori Harve...","2 False Name: using trends?, dtype: bool"
3,"2 PoopScoopSF Name: name, dtype: object","2 NaN Name: age, dtype: float64","2 Downtown Name: city, dtype: object","2 United States Name: country, dtype: object","2 NaN Name: gender, dtype: float64","2 4.7 Name: acount age, dtype: float64","3 48876 Name: total tweets, dtype: int64","3 377 Name: followers, dtype: int64","3 951 Name: following, dtype: int64","3 2.522546 Name: respectability, dtype: flo...",...,"3 2nd cardio, target calories 1k @ Wesley C...",0,0,0,"3 10 Name: word count, dtype: int64","3 False Name: is quote, dtype: bool","3 NaN Name: hashtags, dtype: object","3 0 Name: hashtag count, dtype: int64","3 ['Friday the 13th', 'Staley', 'Lori Harve...","3 False Name: using trends?, dtype: bool"
4,"3 wchazz Name: name, dtype: object","3 NaN Name: age, dtype: float64","3 Wesley Chapel Name: city, dtype: object","3 United States Name: country, dtype: object","3 NaN Name: gender, dtype: float64","3 15.4 Name: acount age, dtype: float64","4 24061 Name: total tweets, dtype: int64","4 1366 Name: followers, dtype: int64","4 4999 Name: following, dtype: int64","4 3.65959 Name: respectability, dtype: float64",...,4 Listen to PODCAST #6 SGUZR by Core Beats ...,0,0,0,"4 11 Name: word count, dtype: int64","4 False Name: is quote, dtype: bool","4 NaN Name: hashtags, dtype: object","4 0 Name: hashtag count, dtype: int64","4 ['Friday the 13th', 'Staley', 'Lori Harve...","4 False Name: using trends?, dtype: bool"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9688,"9994 bringpatbeer Name: name, dtype: object","9994 NaN Name: age, dtype: float64","9994 Auckland Name: city, dtype: object","9994 New Zealand Name: country, dtype: object","9994 NaN Name: gender, dtype: float64","9994 14.2 Name: acount age, dtype: float64","9995 8508 Name: total tweets, dtype: int64","9995 882 Name: followers, dtype: int64","9995 265 Name: following, dtype: int64","9995 0.300454 Name: respectability, dtype: ...",...,9995 My heart breaks thinking abt Abhir. ðŸ˜­ðŸ’”...,127,20,0,"9995 47 Name: word count, dtype: int64","9995 False Name: is quote, dtype: bool","9995 ['yrkkh'] Name: hashtags, dtype: object","9995 1 Name: hashtag count, dtype: int64","9995 ['Luka', 'Friday the 13th', 'Lisa Mari...","9995 False Name: using trends?, dtype: bool"
9689,"9995 Ragini2011 Name: name, dtype: object","9995 NaN Name: age, dtype: float64","9995 Auckland Name: city, dtype: object","9995 New Zealand Name: country, dtype: object","9995 NaN Name: gender, dtype: float64","9995 15.1 Name: acount age, dtype: float64","9996 2254 Name: total tweets, dtype: int64","9996 49 Name: followers, dtype: int64","9996 143 Name: following, dtype: int64","9996 2.918367 Name: respectability, dtype: ...",...,9996 i want to revamp my bedroom and my ent...,0,0,0,"9996 11 Name: word count, dtype: int64","9996 False Name: is quote, dtype: bool","9996 NaN Name: hashtags, dtype: object","9996 0 Name: hashtag count, dtype: int64","9996 ['Luka', 'Friday the 13th', 'Lisa Mari...","9996 False Name: using trends?, dtype: bool"
9690,"9996 EmpathicCreator Name: name, dtype: object","9996 NaN Name: age, dtype: float64","9996 Christchurch City Name: city, dtype: o...","9996 New Zealand Name: country, dtype: object","9996 NaN Name: gender, dtype: float64","9996 2.2 Name: acount age, dtype: float64","9997 26809 Name: total tweets, dtype: int64","9997 200 Name: followers, dtype: int64","9997 728 Name: following, dtype: int64","9997 3.64 Name: respectability, dtype: float64",...,9997 Drinking an Infinite Reflections by @g...,0,0,0,"9997 10 Name: word count, dtype: int64","9997 False Name: is quote, dtype: bool","9997 NaN Name: hashtags, dtype: object","9997 0 Name: hashtag count, dtype: int64","9997 ['Luka', 'Friday the 13th', 'Lisa Mari...","9997 False Name: using trends?, dtype: bool"
9691,"9997 bringpatbeer Name: name, dtype: object","9997 NaN Name: age, dtype: float64","9997 Auckland Name: city, dtype: object","9997 New Zealand Name: country, dtype: object","9997 NaN Name: gender, dtype: float64","9997 14.2 Name: acount age, dtype: float64","9998 1582 Name: total tweets, dtype: int64","9998 289 Name: followers, dtype: int64","9998 236 Name: following, dtype: int64","9998 0.816609 Name: respectability, dtype: ...",...,9998 Dad video calls my little brother to c...,2,0,0,"9998 30 Name: word count, dtype: int64","9998 False Name: is quote, dtype: bool","9998 NaN Name: hashtags, dtype: object","9998 0 Name: hashtag count, dtype: int64","9998 ['Luka', 'Friday the 13th', 'Lisa Mari...","9998 False Name: using trends?, dtype: bool"
9692,"9998 Kulaea1 Name: name, dtype: object","9998 NaN Name: age, dtype: float64","9998 Auckland Name: city, dtype: object","9998 New Zealand Name: country, dtype: object","9998 NaN Name: gender, dtype: float64","9998 6.2 Name: acount age, dtype: float64","9999 1532 Name: total tweets, dtype: int64","9999 644 Name: followers, dtype: int64","9999 871 Name: following, dtype: int64","9999 1.352484 Name: respectability, dtype: ...",...,"9999 Seeking NZ rheumatologists, rheumatolo...",3,3,0,"9999 40 Name: word count, dtype: int64","9999 False Name: is quote, dtype: bool","9999 ['amgevita', 'evaluation'] Name: hasht...","9999 2 Name: hashtag count, dtype: int64","9999 ['Luka', 'Friday the 13th', 'Lisa Mari...","9999 False Name: using trends?, dtype: bool"