In [88]:
#!pip install selenium
#!pip install geonamescache
from helper import *
import selenium
import tweepy
import numpy as np
import pandas as pd
import json
from bs4 import BeautifulSoup
from IPython.display import clear_output #clears output
import datetime
import time

API_Key ='irXxqVrXin1KsDRM9g6HdF8p8'
API_Key_Secret = 'sLQvb8voyrTDz5S93vlt5jE5RlMi8xBuOQtSq2pgERe2QVawIC'

Bearer_Token = 'AAAAAAAAAAAAAAAAAAAAACsVlAEAAAAADib49u9Asa6Hbts8UwBEdtc0dsk%3D1d8lVaySeRg1CpJQ6HDLSwK6Mj9wJiptj49PAdwMuvW95zJoar'

Access_Token = '1122492746210660352-COptyz3RtF1AVokHw3027iOdbsZZl1'
Access_Token_Secret = 'slfBz8pcgCrUmewZgSgVKsmIFhfCcFuinAx16q5eh1Vvr'

In [89]:
# authorization of consumer key and consumer secret
auth = tweepy.OAuthHandler(API_Key, API_Key_Secret)
# set access to user's access key and access secret
auth.set_access_token(Access_Token, Access_Token_Secret)
# calling the api
api = tweepy.API(auth)
Client = tweepy.Client(bearer_token=Bearer_Token) 

'''
links = []
for i in range(0,df.shape[0]):
    links.append('https://twitter.com/{}/status/{}'.format(df.iloc[i,0],df.iloc[i,df.shape[1]-1]))
    
links
len(links)
'''

"\nlinks = []\nfor i in range(0,df.shape[0]):\n    links.append('https://twitter.com/{}/status/{}'.format(df.iloc[i,0],df.iloc[i,df.shape[1]-1]))\n    \nlinks\nlen(links)\n"

In [90]:
df = pd.read_csv('data5.csv')
del df['Unnamed: 0']
df

,name,age,city,country,gender,acount age,total tweets,followers,following,respectability,...,word count,is quote,hashtags,hashtag count,trending,using trends?,metaData,join_date,date,tweet id
0,TotalTrafficSF,NaN,American Canyon,United States,NaN,14.8,113056,3781,555,0.146787,...,14,False,"['AmericanCyn', 'BayArea', 'Traffic']",3,"['Kentucky', 'Seahawks', '49ers', '#iubb', 'Mu...",False,--------,2009-11-10,2023-01-14,1614364412147601411
1,DThrill55,NaN,Florin,United States,NaN,15.4,43311,546,825,1.510989,...,12,True,NaN,0,"['Kentucky', 'Seahawks', '49ers', '#iubb', 'Mu...",False,--------,2009-06-17,2023-01-14,1614364411946504194
2,Laconca,NaN,Orlando,United States,NaN,15.1,12491,205,1819,8.873171,...,19,False,NaN,0,"['Lowry', 'Seahawks', 'Bucks', 'Falcon Heavy',...",False,--------,2009-05-13,2023-01-14,1614364406791405570
3,kelvimescobar,NaN,Georgia,United States,NaN,15.2,18442,93817,2282,0.024324,...,6,False,NaN,0,"['Kentucky', 'Seahawks', '49ers', '#iubb', 'Mu...",False,--------,2009-07-15,2023-01-14,1614364406007189505
4,KGoBlue10,NaN,Westerville,United States,NaN,14.1,18529,430,2182,5.074419,...,20,False,NaN,0,"['Kentucky', 'Seahawks', '49ers', '#iubb', 'Mu...",False,--------,2009-06-01,2023-01-14,1614364405747142657
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,everylotakl,NaN,Auckland,New Zealand,NaN,4.3,37251,801,55,0.068664,...,11,False,NaN,0,"['#BRIvWEL', 'Rashford', 'Liverpool', '#MUNMCI...",False,--------,2020-01-16,2023-01-12,1613460836907118592
9996,everylotwlg,NaN,Upper Hutt City,New Zealand,NaN,4.4,32754,1102,112,0.101633,...,5,False,NaN,0,"['Rashford', '#BRIvWEL', 'Liverpool', '#MUNMCI...",False,--------,2020-01-17,2023-01-12,1613460831261593600
9997,everylotchc,NaN,Christchurch City,New Zealand,NaN,4.4,32623,560,59,0.105357,...,5,False,NaN,0,"['Rashford', '#BRIvWEL', 'Liverpool', '#MUNMCI...",False,--------,2020-01-17,2023-01-12,1613460831051866112
9998,MaikyNZ1,NaN,Auckland,New Zealand,NaN,5.2,12716,2302,297,0.129018,...,2,False,NaN,0,"['#BRIvWEL', 'Rashford', 'Liverpool', '#MUNMCI...",False,--------,2018-07-02,2023-01-12,1613460549442097158
9999,nachooootamrc,NaN,Auckland,New Zealand,NaN,1.8,501,46,74,1.608696,...,9,False,NaN,0,"['#BRIvWEL', 'Rashford', 'Liverpool', '#MUNMCI...",False,--------,2022-02-10,2023-01-12,1613460511416516608

In [91]:
#x = api.get_status(1614298691786969089,tweet_mode="extended",include_entities = 'tweet.fields')
#x = Client.get_tweet(id = 1614298691786969089,tweet_fields=["public_metrics"])

In [92]:
# creates a list of all the ids in string form
tmp = [t for t in df['tweet id']]

for i in range(0,len(tmp)):
    tmp[i] = str(tmp[i])
tmp
len(tmp)

10000

In [93]:
# speperates them into groups of 100's so that it's easier to put them in the search function

all_ids = []
i = 0

while i < len(tmp):
    all_ids.append(tmp[i:i+100])
    i+=100

In [94]:
'''
while i < len(tmp):
    tweets.append(Client.get_tweets(ids = tmp[i:i+100],tweet_fields=["public_metrics"]))
    i+=100

tmp = []
for x in tweets:
    for y in x:
        for z in y:
            tmp.append(z)
'''#accidentally creates a 3D cube so it then sorts it into a 1D arr


#gets the tweets by id
tweetsArr = []

for i in all_ids:
    tweetsArr.append(Client.get_tweets(ids = i,tweet_fields=["public_metrics"]))

In [95]:
#fixes uncomfortable array placements
tweets = []
for x in tweetsArr:
    tweets.extend(x)

In [96]:
errors = tweets[2::4]#get a list of all the tweets which returned error
tweets = tweets[0::4]#gets the actual tweets

In [97]:
#fixes bad placements again
tmp = []
for i in tweets:
    tmp.extend(i)

tweets = tmp

In [103]:
name = []
age = []
city = []
country = []
gender = []
acount_age = []
total_tweets = []
followers = []
following = []
respectability = []
verified = []
tweet = []
likes = []
comments = []
retweets = []
Qretweets = []
word_count = []
is_quote = []
hashtags = []
hashtag_count = []
trending = []
using_trends = []
links = []

In [109]:
for t in tweets:
    ID = t['id']
    row = df[df['tweet id'] == ID]
    
    name.append(row['name'].values[0])
    age.append(row['age'].values[0])
    city.append(row['city'].values[0])
    country.append(row['country'].values[0])
    gender.append(row['gender'].values[0])
    acount_age.append(row['acount age'].values[0])
    total_tweets.append(row['total tweets'].values[0])
    followers.append(row['followers'].values[0])
    following.append(row['following'].values[0])
    respectability.append(row['respectability'].values[0])
    verified.append(row['verified'].values[0])
    tweet.append(row['tweet'].values[0])
    word_count.append(row['word count'].values[0])
    is_quote.append(row['is quote'].values[0])
    hashtags.append(row['hashtags'].values[0])
    hashtag_count.append(row['hashtag count'].values[0])
    trending.append(row['trending'].values[0])
    using_trends.append(row['using trends?'].values[0])
    links.append('https://www.twitter.com/'+row['name'].values[0]+'/status/'+str(ID))
    
    likes.append(t['public_metrics']['like_count'])
    retweets.append(t['public_metrics']['retweet_count'] + t['public_metrics']['quote_count'])
    Qretweets.append(t['public_metrics']['quote_count'])
    comments.append(t['public_metrics']['reply_count'])

In [110]:
max_len = len(using_trends)

In [111]:


dic = {'name':name[:max_len],
       'age':age[:max_len],
       'city':city[:max_len],
       'country':country[:max_len],
       'gender':gender[:max_len],
       'acount age':acount_age[:max_len],
       'total tweets':total_tweets[:max_len],
       'followers':followers[:max_len],
       'following':following[:max_len],
       'respectability':respectability[:max_len],
       'verified':verified[:max_len],
       'text':tweet[:max_len],
       'likes':likes[:max_len],
       'retweets':retweets[:max_len],
       'quote retweets':Qretweets[:max_len],
       'comments':comments[:max_len],
       'word count':word_count[:max_len],
       'is quote':is_quote[:max_len],
       'hashtags':hashtags[:max_len],
       'hashtag count':hashtag_count[:max_len],
       'trending':trending[:max_len],
       'using trends?':using_trends[:max_len],
       'link to tweet':links[:max_len]
      }

new_df = pd.DataFrame(dic)

In [112]:
new_df

,name,age,city,country,gender,acount age,total tweets,followers,following,respectability,...,retweets,quote retweets,comments,word count,is quote,hashtags,hashtag count,trending,using trends?,link to tweet
0,TotalTrafficSF,NaN,American Canyon,United States,NaN,14.8,113056,3781,555,0.146787,...,0,0,0,14,False,"['AmericanCyn', 'BayArea', 'Traffic']",3,"['Kentucky', 'Seahawks', '49ers', '#iubb', 'Mu...",False,https://twitter.com/TotalTrafficSF/status/1614...
1,DThrill55,NaN,Florin,United States,NaN,15.4,43311,546,825,1.510989,...,0,0,0,12,True,NaN,0,"['Kentucky', 'Seahawks', '49ers', '#iubb', 'Mu...",False,https://twitter.com/DThrill55/status/161436441...
2,Laconca,NaN,Orlando,United States,NaN,15.1,12491,205,1819,8.873171,...,0,0,0,19,False,NaN,0,"['Lowry', 'Seahawks', 'Bucks', 'Falcon Heavy',...",False,https://twitter.com/Laconca/status/16143644067...
3,kelvimescobar,NaN,Georgia,United States,NaN,15.2,18442,93817,2282,0.024324,...,1,0,6,6,False,NaN,0,"['Kentucky', 'Seahawks', '49ers', '#iubb', 'Mu...",False,https://twitter.com/kelvimescobar/status/16143...
4,KGoBlue10,NaN,Westerville,United States,NaN,14.1,18529,430,2182,5.074419,...,0,0,0,20,False,NaN,0,"['Kentucky', 'Seahawks', '49ers', '#iubb', 'Mu...",False,https://twitter.com/KGoBlue10/status/161436440...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19401,everylotakl,NaN,Auckland,New Zealand,NaN,4.3,37251,801,55,0.068664,...,0,0,0,11,False,NaN,0,"['#BRIvWEL', 'Rashford', 'Liverpool', '#MUNMCI...",False,https://www.twitter.com/everylotakl/status/161...
19402,everylotwlg,NaN,Upper Hutt City,New Zealand,NaN,4.4,32754,1102,112,0.101633,...,0,0,0,5,False,NaN,0,"['Rashford', '#BRIvWEL', 'Liverpool', '#MUNMCI...",False,https://www.twitter.com/everylotwlg/status/161...
19403,everylotchc,NaN,Christchurch City,New Zealand,NaN,4.4,32623,560,59,0.105357,...,0,0,0,5,False,NaN,0,"['Rashford', '#BRIvWEL', 'Liverpool', '#MUNMCI...",False,https://www.twitter.com/everylotchc/status/161...
19404,MaikyNZ1,NaN,Auckland,New Zealand,NaN,5.2,12716,2302,297,0.129018,...,0,0,1,2,False,NaN,0,"['#BRIvWEL', 'Rashford', 'Liverpool', '#MUNMCI...",False,https://www.twitter.com/MaikyNZ1/status/161346...
19405,nachooootamrc,NaN,Auckland,New Zealand,NaN,1.8,501,46,74,1.608696,...,0,0,1,9,False,NaN,0,"['#BRIvWEL', 'Rashford', 'Liverpool', '#MUNMCI...",False,https://www.twitter.com/nachooootamrc/status/1...