In [1]:
#!pip install selenium
#!pip install geonamescache
from helper import *
import selenium
import tweepy
import numpy as np
import pandas as pd
import json
from bs4 import BeautifulSoup
from IPython.display import clear_output #clears output
import datetime
import time

API_Key ='irXxqVrXin1KsDRM9g6HdF8p8'
API_Key_Secret = 'sLQvb8voyrTDz5S93vlt5jE5RlMi8xBuOQtSq2pgERe2QVawIC'

Bearer_Token = 'AAAAAAAAAAAAAAAAAAAAACsVlAEAAAAADib49u9Asa6Hbts8UwBEdtc0dsk%3D1d8lVaySeRg1CpJQ6HDLSwK6Mj9wJiptj49PAdwMuvW95zJoar'

Access_Token = '1122492746210660352-COptyz3RtF1AVokHw3027iOdbsZZl1'
Access_Token_Secret = 'slfBz8pcgCrUmewZgSgVKsmIFhfCcFuinAx16q5eh1Vvr'

In [2]:
# authorization of consumer key and consumer secret
auth = tweepy.OAuthHandler(API_Key, API_Key_Secret)
# set access to user's access key and access secret
auth.set_access_token(Access_Token, Access_Token_Secret)
# calling the api
api = tweepy.API(auth)
Client = tweepy.Client(bearer_token=Bearer_Token) 

'''
links = []
for i in range(0,df.shape[0]):
    links.append('https://twitter.com/{}/status/{}'.format(df.iloc[i,0],df.iloc[i,df.shape[1]-1]))
    
links
len(links)
'''

"\nlinks = []\nfor i in range(0,df.shape[0]):\n    links.append('https://twitter.com/{}/status/{}'.format(df.iloc[i,0],df.iloc[i,df.shape[1]-1]))\n    \nlinks\nlen(links)\n"

In [3]:
currentI = 3 # saves us the hussle of changing the number

df = pd.read_csv('data{}.csv'.format(currentI))
del df['Unnamed: 0']
df

,name,age,city,country,gender,acount age,total tweets,followers,following,respectability,...,word count,is quote,hashtags,hashtag count,trending,using trends?,metaData,join_date,date,tweet id
0,jamesabennettii,NaN,Brooklyn,United States,NaN,14.4,18639,1649,1876,1.137659,...,3,False,NaN,0,"['Rashford', '#ManchesterDerby', '#MUNMCI', 'G...",False,--------,2011-04-29,2023-01-14,1614268547932499968
1,initishss,NaN,San Jose,United States,NaN,10.1,550,55,393,7.145455,...,21,False,"['MUNMCI', 'Derby']",2,"['Rashford', '#ManchesterDerby', '#MUNMCI', 'G...",True,--------,2015-03-25,2023-01-14,1614268545193644032
2,edwelsh319,NaN,Atlanta,United States,NaN,9.7,2123,160,1093,6.831250,...,8,False,NaN,0,"['Yuta', 'Johnny', '#NEOCITY_THE_LINK_ATLANTA'...",False,--------,2015-04-20,2023-01-14,1614268543930929154
3,superdasmith,NaN,Bella Vista,United States,NaN,14.9,28299,494,894,1.809717,...,8,False,NaN,0,"['Rashford', '#ManchesterDerby', '#MUNMCI', 'G...",False,--------,2009-08-11,2023-01-14,1614268543633170433
4,352Cardie,NaN,Detroit,United States,NaN,1.4,126,46,75,1.630435,...,5,False,NaN,0,"['Rashford', '#ManchesterDerby', '#MUNMCI', 'G...",False,--------,2022-10-05,2023-01-14,1614268538935451648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1547,SherriEllis764,NaN,Huntington,United States,NaN,1.2,4165,5,171,34.200000,...,2,True,NaN,0,"['Rashford', '#ManchesterDerby', '#MUNMCI', 'G...",False,--------,2022-07-02,2023-01-14,1614265544898650118
1548,mosontou,NaN,Atlanta,United States,NaN,3.6,6626,82,99,1.207317,...,13,False,['ManchesterDerby'],1,"['Yuta', 'Johnny', '#NEOCITY_THE_LINK_ATLANTA'...",True,--------,2021-03-19,2023-01-14,1614265542201774080
1549,justjoshingya77,NaN,Richard Montgomery High School,United States,NaN,8.2,4141,353,577,1.634561,...,8,False,NaN,0,"['Rashford', '#ManchesterDerby', '#MUNMCI', 'G...",False,--------,2017-01-27,2023-01-14,1614265542113906699
1550,RickJRealEstate,NaN,Antioch,United States,NaN,10.4,5643,319,511,1.601881,...,8,False,NaN,0,"['Rashford', '#ManchesterDerby', '#MUNMCI', 'G...",False,--------,2015-01-29,2023-01-14,1614265540108853251
1551,MelvinDwayne_,NaN,Grapevine,United States,NaN,3.8,6970,276,112,0.405797,...,10,False,NaN,0,"['Rashford', '#ManchesterDerby', '#MUNMCI', 'G...",False,--------,2020-04-10,2023-01-14,1614265537512497152

In [4]:
#x = api.get_status(1614298691786969089,tweet_mode="extended",include_entities = 'tweet.fields')
#x = Client.get_tweet(id = 1614298691786969089,tweet_fields=["public_metrics"])

In [5]:
# creates a list of all the ids in string form
tmp = [t for t in df['tweet id']]

for i in range(0,len(tmp)):
    tmp[i] = str(tmp[i])
tmp
len(tmp)

1552

In [6]:
# speperates them into groups of 100's so that it's easier to put them in the search function

all_ids = []
i = 0

while i < len(tmp):
    all_ids.append(tmp[i:i+100])
    i+=100

In [7]:
'''
while i < len(tmp):
    tweets.append(Client.get_tweets(ids = tmp[i:i+100],tweet_fields=["public_metrics"]))
    i+=100

tmp = []
for x in tweets:
    for y in x:
        for z in y:
            tmp.append(z)
'''#accidentally creates a 3D cube so it then sorts it into a 1D arr


#gets the tweets by id
tweetsArr = []

for i in all_ids:
    tweetsArr.append(Client.get_tweets(ids = i,tweet_fields=["public_metrics"]))

In [8]:
#fixes uncomfortable array placements
tweets = []
for x in tweetsArr:
    tweets.extend(x)

In [9]:
errors = tweets[2::4]#get a list of all the tweets which returned error
tweets = tweets[0::4]#gets the actual tweets

In [10]:
#fixes bad placements again
tmp = []
for i in tweets:
    tmp.extend(i)

tweets = tmp

In [11]:
name = []
age = []
city = []
country = []
gender = []
acount_age = []
total_tweets = []
followers = []
following = []
respectability = []
verified = []
tweet = []
likes = []
comments = []
retweets = []
Qretweets = []
word_count = []
is_quote = []
hashtags = []
hashtag_count = []
trending = []
using_trends = []
links = []
views = []

In [12]:
for t in tweets:
    ID = t['id']
    row = df[df['tweet id'] == ID]
    
    name.append(row['name'].values[0])
    age.append(row['age'].values[0])
    city.append(row['city'].values[0])
    country.append(row['country'].values[0])
    gender.append(row['gender'].values[0])
    acount_age.append(row['acount age'].values[0])
    total_tweets.append(row['total tweets'].values[0])
    followers.append(row['followers'].values[0])
    following.append(row['following'].values[0])
    respectability.append(row['respectability'].values[0])
    verified.append(row['verified'].values[0])
    tweet.append(row['tweet'].values[0])
    word_count.append(row['word count'].values[0])
    is_quote.append(row['is quote'].values[0])
    hashtags.append(row['hashtags'].values[0])
    hashtag_count.append(row['hashtag count'].values[0])
    trending.append(row['trending'].values[0])
    using_trends.append(row['using trends?'].values[0])
    links.append('https://www.twitter.com/'+row['name'].values[0]+'/status/'+str(ID))
    
    likes.append(t['public_metrics']['like_count'])
    views.append(t['public_metrics']['impression_count'])
    retweets.append(t['public_metrics']['retweet_count'] + t['public_metrics']['quote_count'])
    Qretweets.append(t['public_metrics']['quote_count'])
    comments.append(t['public_metrics']['reply_count'])

In [13]:
max_len = len(using_trends)

In [14]:


dic = {'name':name[:max_len],
       'age':age[:max_len],
       'city':city[:max_len],
       'country':country[:max_len],
       'gender':gender[:max_len],
       'acount age':acount_age[:max_len],
       'total tweets':total_tweets[:max_len],
       'followers':followers[:max_len],
       'following':following[:max_len],
       'respectability':respectability[:max_len],
       'verified':verified[:max_len],
       'text':tweet[:max_len],
       'views':views[:max_len],
       'likes':likes[:max_len],
       'retweets':retweets[:max_len],
       'quote retweets':Qretweets[:max_len],
       'comments':comments[:max_len],
       'word count':word_count[:max_len],
       'is quote':is_quote[:max_len],
       'hashtags':hashtags[:max_len],
       'hashtag count':hashtag_count[:max_len],
       'trending':trending[:max_len],
       'using trends?':using_trends[:max_len],
       'link to tweet':links[:max_len]
      }

new_df = pd.DataFrame(dic)

In [15]:
new_df

,name,age,city,country,gender,acount age,total tweets,followers,following,respectability,...,retweets,quote retweets,comments,word count,is quote,hashtags,hashtag count,trending,using trends?,link to tweet
0,jamesabennettii,NaN,Brooklyn,United States,NaN,14.4,18639,1649,1876,1.137659,...,0,0,1,3,False,NaN,0,"['Rashford', '#ManchesterDerby', '#MUNMCI', 'G...",False,https://www.twitter.com/jamesabennettii/status...
1,initishss,NaN,San Jose,United States,NaN,10.1,550,55,393,7.145455,...,0,0,0,21,False,"['MUNMCI', 'Derby']",2,"['Rashford', '#ManchesterDerby', '#MUNMCI', 'G...",True,https://www.twitter.com/initishss/status/16142...
2,edwelsh319,NaN,Atlanta,United States,NaN,9.7,2123,160,1093,6.831250,...,0,0,0,8,False,NaN,0,"['Yuta', 'Johnny', '#NEOCITY_THE_LINK_ATLANTA'...",False,https://www.twitter.com/edwelsh319/status/1614...
3,superdasmith,NaN,Bella Vista,United States,NaN,14.9,28299,494,894,1.809717,...,0,0,0,8,False,NaN,0,"['Rashford', '#ManchesterDerby', '#MUNMCI', 'G...",False,https://www.twitter.com/superdasmith/status/16...
4,352Cardie,NaN,Detroit,United States,NaN,1.4,126,46,75,1.630435,...,0,0,0,5,False,NaN,0,"['Rashford', '#ManchesterDerby', '#MUNMCI', 'G...",False,https://www.twitter.com/352Cardie/status/16142...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1410,SherriEllis764,NaN,Huntington,United States,NaN,1.2,4165,5,171,34.200000,...,0,0,0,2,True,NaN,0,"['Rashford', '#ManchesterDerby', '#MUNMCI', 'G...",False,https://www.twitter.com/SherriEllis764/status/...
1411,mosontou,NaN,Atlanta,United States,NaN,3.6,6626,82,99,1.207317,...,0,0,0,13,False,['ManchesterDerby'],1,"['Yuta', 'Johnny', '#NEOCITY_THE_LINK_ATLANTA'...",True,https://www.twitter.com/mosontou/status/161426...
1412,justjoshingya77,NaN,Richard Montgomery High School,United States,NaN,8.2,4141,353,577,1.634561,...,0,0,0,8,False,NaN,0,"['Rashford', '#ManchesterDerby', '#MUNMCI', 'G...",False,https://www.twitter.com/justjoshingya77/status...
1413,RickJRealEstate,NaN,Antioch,United States,NaN,10.4,5643,319,511,1.601881,...,0,0,0,8,False,NaN,0,"['Rashford', '#ManchesterDerby', '#MUNMCI', 'G...",False,https://www.twitter.com/RickJRealEstate/status...
1414,MelvinDwayne_,NaN,Grapevine,United States,NaN,3.8,6970,276,112,0.405797,...,0,0,1,10,False,NaN,0,"['Rashford', '#ManchesterDerby', '#MUNMCI', 'G...",False,https://www.twitter.com/MelvinDwayne_/status/1...

In [16]:
new_df.to_csv('out{}.csv'.format(currentI))